.cabecera{
    display: flex;
}
.cajaMenu_imagenes{
    width: 50%;
    height: 100px;
    margin-left: 2.5rem;
}
.menu__logo{
    width: auto;
    height: 100%;
}
.menu__letras{
    width: auto;
    height: 100%;
}
.menu__lista{
    display: flex;
    margin-top: 1rem;
}
.menu__item{
    font-size: 1.25rem;
    margin: 1rem 1rem;
}